.pencilbutton {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: linear-gradient(to top, #1b9d71, #3c7e83);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.reviewToolLightBox {
  position: absolute;
  left: -0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1100;
  visibility: hidden;
}

.reviewToolLightBox.show {
  visibility: visible;
}

.reviewToolWrapper {
  position: absolute;
  left: 50%;
  top: 8%;
  width: 600px;
  height: 500px;
  margin-left: -300px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  z-index: 1101;
  visibility: hidden;
}
.reviewToolWrapper.show {
  visibility: visible;
}

.reviewToolWrapper.opened {
  right: 0;
}

.framePanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.framePanel .iframePanel {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

#closebtn {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #ff0000, #ba0000);
  cursor: pointer;
}
